.navbar.navbar-assignment
  a#collapse.btn-expand-collapse(href="#")
    span.bi.bi-chevron-right
  ul.navbar-assignment-menu
    li
      if (owner)
          span.switch-toggle
              input#public(type='radio', name='view',
                  onclick='toggleShare(true)')
              label(for='public') Public
              input#private(type='radio', name='view',
                  onclick='toggleShare(false)')
              label(for='private') Private
              a#toggle.btn.btn-primary


          if (navItems.save)
            a#save(href="#", title="Save Node Positions")
              span.bi.bi-download
              span.nav-label  Save Node Positions

      if (navItems.labels)
        a#nodelabels(href="#", title="Toggle Node Labels")
          span.bi.bi-tag-fill
          span.nav-label Node Labels

        a#linklabels(href="#", title="Toggle Link Labels")
          span.bi.bi-tags-fill
          span.nav-label Link Labels

      if (navItems.toggleDisplay)
        a#toggleDisplay(href="#", title="Toggle Display Mode")
          span.bi.bi-justify
          span.nav-label Toggle Display

      a#reset(href="#", title="Reset View")
        span.bi.bi-arrows-angle-expand
        span.nav-label Reset View

      if (assignment.vistype == "nodelink")
        a#hideNodes(href="#", title="Reset View")
          span.bi.bi-eye-slash-fill
          span.nav-label Hide Nodes

      if (assignment.vistype == "nodelink")
        a#hideLinks(href="#", title="Reset View")
          span.bi.bi-eye-slash-fill
          span.nav-label Hide Links

      if (owner)
        a#delete(href="#", title="Delete Assignment")
          span.bi.bi-trash-fill
          span.nav-label Delete Assignment

script.
  var displayMode = '#{displayMode}'

  $('.btn-expand-collapse').click(function(e) {
      $('.navbar-assignment').toggleClass('collapsed');
      $(this).children('span').toggleClass('bi-chevron-right').toggleClass('bi-chevron-left');
      if(localStorage.currentNav){
        if(localStorage.currentNav == 0){
          localStorage.currentNav = 1;
        }else{
          localStorage.currentNav = 0;
        }
      }
  });

  if(localStorage.currentNav){
    if(localStorage.currentNav == 1){
      $('.navbar-assignment').addClass('collapsed');
      $('#collapse').children('span').removeClass('bi-chevron-right').addClass('bi-chevron-left');
    }else{
      $('.navbar-assignment').removeClass('collapsed');
      $('#collapse').children('span').addClass('bi-chevron-right').removeClass('bi-chevron-left');
    }
  }else{
    localStorage.currentNav = 0;
  }
