.navbar.navbar-assignment
  a#collapse.btn-expand-collapse(href="#")
    span.glyphicon.glyphicon-menu-right
  ul.navbar-assignment-menu
    li
      if (owner)
          span.switch-toggle
              input#public(type='radio', name='view',
                  onclick='toggleShare(true)')
              label(for='public') Public
              input#private(type='radio', name='view',
                  onclick='toggleShare(false)')
              label(for='private') Private
              a#toggle.btn.btn-primary


          if (linkResources.script[0] == "/js/graph.js" || linkResources.script[0] == "/js/graph-canvas.js")
            a#save(href="#")
              span.glyphicon.glyphicon-save
              span.nav-label  Save Node Positions

      // if NOT grid or array type, give buttons to show labels
      if(linkResources.script.indexOf('/js/grid.js') < 0 && linkResources.script.indexOf('/js/array/array.js') < 0 && linkResources.script.indexOf('/js/array/array2d.js') < 0 && linkResources.script.indexOf('/js/array/array3d.js') < 0)
        a#nodelabels(href="#")
          span.glyphicon.glyphicon-tag
          span.nav-label Node Labels

        a#linklabels(href="#")
          span.glyphicon.glyphicon-tags
          span.nav-label Link Labels

      a#reset(href="#")
        span.glyphicon.glyphicon-resize-full
        span.nav-label Reset View

      if (owner)
        a#delete(href="#")
          span.glyphicon.glyphicon-trash
          span.nav-label Delete Assignment

script.
  $('.btn-expand-collapse').click(function(e) {
      $('.navbar-assignment').toggleClass('collapsed');
  });
