.navbar.navbar-assignment
  a#collapse.btn-expand-collapse(href="#")
    span.glyphicon.glyphicon-menu-right
  ul.navbar-assignment-menu
    li
      if (owner)
          span.switch-toggle
              input#public(type='radio', name='view',
                  onclick='toggleShare(true)')
              label(for='public') Public
              input#private(type='radio', name='view',
                  onclick='toggleShare(false)')
              label(for='private') Private
              a#toggle.btn.btn-primary

          if (navItems.save)
            a#save(href="#", title="Save Node Positions")
              span.glyphicon.glyphicon-save
              span.nav-label  Save Node Positions

          if (navItems.socketConnect)
            a#socketConnect(href="#")
              span.glyphicon.glyphicon-eye-open
              span.nav-label Connect to Game

      if (navItems.labels)
        a#nodelabels(href="#", title="Toggle Node Labels")
          span.glyphicon.glyphicon-tag
          span.nav-label Node Labels

        a#linklabels(href="#", title="Toggle Link Labels")
          span.glyphicon.glyphicon-tags
          span.nav-label Link Labels

      if (navItems.toggleDisplay)
        a#toggleDisplay(href="#", title="Toggle Display Mode")
          span.glyphicon.glyphicon-align-justify
          span.nav-label Toggle Display

      a#reset(href="#", title="Reset View")
        span.glyphicon.glyphicon-resize-full
        span.nav-label Reset View

      if (owner)
        a#delete(href="#", title="Delete Assignment")
          span.glyphicon.glyphicon-trash
          span.nav-label Delete Assignment

script.
  var displayMode = '#{displayMode}'

  $('.btn-expand-collapse').click(function(e) {
      $('.navbar-assignment').toggleClass('collapsed');
      $(this).children('span').toggleClass('glyphicon-menu-right').toggleClass('glyphicon-menu-left');
      if(localStorage.currentNav){
        if(localStorage.currentNav == 0){
          localStorage.currentNav = 1;
        }else{
          localStorage.currentNav = 0;
        }
      }
  });

  if(localStorage.currentNav){
    if(localStorage.currentNav == 1){
      $('.navbar-assignment').addClass('collapsed');
      $('#collapse').children('span').removeClass('glyphicon-menu-right').addClass('glyphicon-menu-left');
    }else{
      $('.navbar-assignment').removeClass('collapsed');
      $('#collapse').children('span').addClass('glyphicon-menu-right').removeClass('glyphicon-menu-left');
    }
  }else{
    localStorage.currentNav = 0;
  }
