doctype html
html(lang="en" class="no-js")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title

        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/header.css')

        script(src='/components/d3/d3.min.js')
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.min.js')

        block css
        block js
        block scripts
        block morehead

    body
        block content
        block footerjs
