.navbar.navbar-default
    .container
        .navbar-header
            a(href="/").navbar-brand Bridges

        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        .navbar-header
            a(href="http://bridgesuncc.github.io").navbar-brand Documentation

        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            if (!user)
              li
                a(href="/login") Log In
            if (user)
              li
                a(href="/username/"+user.username) My Projects
              li
                a(href="/profile") Profile
              li
                a#log(href="/logout") Log Out
