/*
  Primary Assignment Menu
*/
#assignment-menu{
    position: fixed;
    top: 0px;
    padding:20px;
    padding-top: 75px;
    right: 0px;
    width: 300px;
    height: 100%;
    text-align: center;
    background-color: #f8f8f8;
    border-left: solid 2px #e7e7e7;
}

#assignmentTitle {
    background-color: lightgrey;
    box-shadow: 0px 5px 5px black;
    margin-bottom: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 180%;
    width: 100%;
    text-align: center;
}

#assignmentDescription {
    background-color: lightgrey;
    border-radius: 25px;
    padding: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 90%;
    max-height:200px;
    overflow: scroll;
    margin-bottom: 30px;
    box-shadow: inset 0px 0px 10px black;
}

#collapseExpand {
  position: absolute;
  top: 50%;
  left: -5px;
  background-color: white;
  box-shadow: 0px 1px 5px black;
  border-radius: 25px;
  padding: 5px;
  pointer-events: none;
  display: none;
}

.optionButton {
    margin-right: 0%;
    width:55%;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.optionButton.pad {
    margin-top: 100px;
}


/*
  Menus for individual subassignment windows

.vis-menu {
  position: absolute;
  width: 0px;
  height:30px;
  background-color: #e7e7e7;
}
.vis-menu-button {
  position: relative;
  top: -20px;
  width:15px;
  height:15px;
  border-radius: 5px;
  background-color: steelblue;
}
*/
