html, body {
    height: 100%;
    margin: 0;
}

#fullContent {
  min-height: 100%;
  position:relative;
}

.nodeLabel {
  color: black;
  font-size: 12px;  
  stroke-width: 0px;
  stroke-dasharray: 0,0;
  opacity: 0.0;
  pointer-events: none;
}

.assignmentContainer{
    box-shadow: 0px 3px 5px 5px #888888;
    margin-left:15px;
    margin-top:15px;
    height: 600px;
    max-width: 90%;
    resize: both;
    overflow: hidden;
    position: relative;
}
.svg {
  width: 100%;
  height: 100%;
}

.assignmenetContainer.responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    overflow:hidden;
}

#vis{
    position:absolute;
    overflow: auto;/*hide the scrollbar if not needed, chrome and ie tested*/
    float:left;
}

#mapContainer{
    max-width:20%;
    left: 75%;
    top: 7%;
    width: 20%;
    height:250px;
    position:fixed;
}

.mapContainer{
    border-color:steelblue;
    border-style:solid;
    border-radius:25px;
    padding:6px;
    margin-left:10px;
    margin-right:30%;
    float: left;
    margin-bottom: 5px;
    margin-top: 350px;
    height: 350px;
}

#updateStatus {
    text-align: -webkit-center;
    text-align: center;
    display: none;
    position: fixed;
    width: 20%;
    left: 40%;
    z-index: 100;
}

svg{
  cursor: default !important;
}

div.tooltip {
  padding: 12px;
  position: absolute;
  height: auto !important;
  width: auto !important;
  line-height: 1;
  padding: 12px;
  font: 14px sans-serif;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  border: 0px;
  border-radius: 8px;
  display: block;
  pointer-events: none;
}

.clickthrough {
  pointer-events: none;
}

.assignmentTitle {
    padding: 20px;
    padding-top: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
}

.assignmentDescription {
    padding: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 90%;
    max-height:200px;
    max-width: 60%;
    overflow: scroll;
}
