
/* Area around each assignment */
.gallery_assignment_container {
  float:left;
  width:160px;
  height:200px;
  margin-left:20px;
  margin-bottom:10px;
  /*background-color: white;*/
}

/* */
.gallery_assignment_div {
  height:120px;
  width: 120px;
  margin-left: 20px;
  border-style: solid;
  border-width:4px;
  border-radius:20px;
  background: -webkit-linear-gradient(white, #FFFAFA);
  background: -o-linear-gradient(white, #FFFAFA);
  background: -moz-linear-gradient(white, #FFFAFA);
  background: linear-gradient(white, #FFFAFA);
  box-shadow: 2px 2px 8px #888888;
}

.gallery_assignment_div.private{
    border-color:red;
}

.gallery_assignment_div.public{
    border-color:steelblue;
}

.gallery_assignment_div_public:hover, .gallery_assignment_div_private:hover{
    box-shadow:none;
    background:white;
    border-width:4px;
    border-style: inset;
}

.gallery_links{
    padding-top: 10px;
    text-align: center;
    /*text-shadow: 1px 0px #C0C0C0;*/
    color: #262626;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gallery_links:hover{
    text-shadow: none;
    color:#888888;
}

.gallery_link_title {
  font-size: 110%;
}

.gallery_link_small {
  font-size: 70%;
}

.gallery_row {
  margin: 50px;
}

.user-gallery-menu {
  display: none;
  border-left: solid 2px steelblue;
  background-color: white;
  min-width: 100%;
  padding: 3px;
  padding-top: 2px;
  margin-top: 15px;
  font-size: 150%;
  padding-left: 20px;
  line-height: 120%;
}

#welcome {
  margin-top: 40px;
  padding: 50px;
  font-size: 18px;
  background: -webkit-linear-gradient(white, #FFFAFA);
  background: -o-linear-gradient(white, #FFFAFA);
  background: -moz-linear-gradient(white, #FFFAFA);
  background: linear-gradient(white, #FFFAFA);
  box-shadow: 2px 2px 8px #888888;
}

img.visimg {
  display:block;
  margin:auto;
  padding: 5px;
  max-width: 100px;
}
