div.title {
  margin-bottom: 50px;
}

/* Area around each assignment */
.gallery_assignment_container {
  height: 220px;
  max-width: 220px;
}

/* */
.gallery_assignment_div {
  border-style: solid;
  border-width:4px;
  border-radius:20px;
  background: -webkit-linear-gradient(white, #FFFAFA);
  background: -o-linear-gradient(white, #FFFAFA);
  background: -moz-linear-gradient(white, #FFFAFA);
  background: linear-gradient(white, #FFFAFA);
  box-shadow: 2px 2px 8px #888888;
}

.gallery_assignment_div.private{
    border-color:red;
}

.gallery_assignment_div.public{
    border-color:steelblue;
}

.gallery_links{
    padding-top: 10px;
    text-align: center;
    color: #262626;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.gallery_links:hover{
    text-shadow: none;
    color:#888888;
}

.gallery_link_title {
  font-size: 90%;
}

.gallery_link_small {
  font-size: 70%;
}

#gallery_fixed_tooltip {
  margin-left: 15px;
  float: left;
  line-height: 1.7;
  min-height: 250px;
}

#welcome {
  margin-top: 40px;
  padding: 50px;
  font-size: 18px;
  background: -webkit-linear-gradient(white, #FFFAFA);
  background: -o-linear-gradient(white, #FFFAFA);
  background: -moz-linear-gradient(white, #FFFAFA);
  background: linear-gradient(white, #FFFAFA);
  box-shadow: 2px 2px 8px #888888;
}

img.visimg {
  display:block;
  margin:auto;
  padding: 5px;
  max-width: 100%;
}
