extends layout

block content
  include ../includes/header.pug
  div.center-block(style='width: 600px')
    div.row
      div.col-lg-10
        form#reset(action='/reset' method='POST').center-block.well(style='margin-top: 50px; padding: 50px')
          legend Change your password
          p Enter the new password for your account. Once confirmed, you will be logged in to your account and your new password will be active.
          p#msg(style='color: red')

          .form-group
            p
              label(for='password') Password:
              input#pass1.form-control(type='password', name='password1', autofocus)

            p
              label(for='password') Retype Password:
              input#pass2.form-control(type='password', name='password2')

          button.btn.btn-primary(type='submit') Set New Password

  script( src = '/js/reset.js' )

  script.
    var token = "#{token}"
